extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/all-questions.css')

block content
    .nav-bar
        div.nav-display-left
            .logo-img
                a(href='/'): img(src='https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png' class='dumbbell-img')
            a(href='/' class="fitness-font") Fitness-Overflow
        div.nav-display-right
            if locals.authenticated
                form(action='/search' class='search-bar')
                    input(type='search' name='query' placeholder='Search all questions' )
                a(href=`/questions`): button(type='button' class='all-qs-button') All questions
                a(href=`/questions/new`): button(type='button' class='new-q-button') Ask a question
                form(action="/logout" method="post")
                    button(type='submit' class='logout-button') Log-Out
            else
                a(href='/' class='log-in-link'): button(type='button' class='log-in-button') Log-In
            a(href=`/users/${userId}`): img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class='profile-img')
    .total-content
        .all-questions-title
            h1.all-questions All Questions:
        .content
            each question in questions
                .each-post-block
                    div.post-user
                        img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class="profile-img-small")
                        a(href=`/users/${question.User.id}`): p.user-name= question.User.username
                    a(href=`/questions/${question.id}` class="post-link"): div.post-box
                        h1.post-titles.post-link=question.title
                        p.post-link=question.body
                        div
                            p.time-link= questionDate(question.createdAt)
    .footer
        .logo-img-lower
            a(href='/'): img(src='https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png' class='dumbbell-img')
            a(href='/' class="fitness-font") Fitness-Overflow
