extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/profile-page.css')

block content
    .nav-bar
        div.nav-display-left
            .logo-img
                a(href='/'): img(src='https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png' class='dumbbell-img')
            a(href='/' class="fitness-font") Fitness-Overflow
        div.nav-display-right
            if locals.authenticated
                form(action="/logout" method="post")
                    button(type='submit' class='logout-button') Log-Out
            else
                a(href='/' class='log-in-link'): button(type='button' class='log-in-button') Log-In
            img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class='profile-img')
    .total-content
        .content
            if locals.user.id === userId
                .your-questions
                    div.title
                        h2.your-post-title Your Questions:
            else
                .your-questions
                        div.title
                            h2.your-post-title #{username}'s Questions:
            each question in questions
                .each-post-block
                    div.post-user
                        img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class="profile-img-small")
                        p.user-name= question.User.username

                    a(href=`/questions/${question.id}` class="post-link"): div.post-box
                        h1.post-titles.post-link=question.title
                        p.post-link=question.body
                        div
                            p.time-link= questionDate(question.createdAt)
