extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/search.css')

block content
    .nav-bar
        div.nav-display-left
          .logo-img
            a(href='/'): img(src='https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png' class='dumbbell-img')
          a(href='/' class="fitness-font") Fitness-Overflow

        div.nav-display-right
            .search-and-icons
              form(action='/search' class='search-bar')
                  input(type='search' name='query' placeholder='Search' )
              if locals.authenticated
                  form(action="/logout" method="post")
                      button(type='submit' class='logout-button') Log-Out
              if !locals.authenticated
                 a(href='/sign-up' class='signup-link'): button(type='button' class='signup-button') Sign-up
              a(href='/'): img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class='profile-img')
    .total-content
        if !locals.authenticated
            .login-block
              .login-container
                  div.error-container
                      ul
                      if errors
                          each error in errors
                              li.list=error
                      .inner-container
                          form(action='/' method='post' id="login-form")
                              input(type='hidden' name='_csrf' value=csrfToken)
                              .email-label-and-inp.em
                                label(for='email' class='font') Email
                                input(type="text" name='email' class='email-input inp' value=email id='email-in')
                              .password-label-and-inp.pass
                                label(for="password" class='font') Password
                                input(type='password' name='password' class='password-input inp' id='password-in')
                              .button-container
                                button(type='submit' class='login-button') Log-In
                                button(type='button' class='demo-button' id="demo-b") Demo
    div.questions-div
      if questions.length
        h1 Here are your results!
        each question in questions
          .question-div
            a(href=`/questions/${question.id}` class='question-title')= question.title
            p= question.body
      else
        h1#no-results There are no results that matches your search.

