extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/specific-question.css')
    script(src="/javascripts/specific-question.js" type="module" defer)

block content
    .nav-bar
        div.nav-display-left
            .logo-img
                a(href='/'): img(src='https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png' class='dumbbell-img')
            a(href='/' class="fitness-font") Fitness-Overflow
        div.nav-display-right
            if locals.authenticated
                form(action='/search' class='search-bar')
                    input(type='search' name='query' placeholder='Search' )
                a(href=`/questions`): button(type='button' class='all-qs-button') All questions
                a(href=`/questions/new`): button(type='button' class='new-q-button') Ask a question
                form(action="/logout" method="post")
                    button(type='submit' class='logout-button') Log-Out
            else
                a(href='/' class='log-in-link'): button(type='button' class='log-in-button') Log-In
            a(href=`/users/${userId}`): img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class='profile-img')
    .main-body
        .post-block
            .upper-question-block
                .title-img-content
                    .username-and-img
                        a(href=`/users/${question.User.id}`): img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class='profile-img-2')
                        a(href=`/users/${question.User.id}` class='username')= question.User.username
                    h1.question-title= question.title
                    .date-block
                        p(class='date')= questionDate(question.createdAt)
                    .post-contents
                        p.question-body= question.body
                        .hidden-form-body
                            form(action=`/questions/edit/${question.id}` id='update-question-field' method='post' class="hidden-form")
                                input(type='hidden' name ='_csrf' value=csrfToken)
                                div#categories-drop-down Category:
                                    select#category(name="categoryId")
                                        each category in categoryArr
                                            option(value=category.id class='option-tab') #{category.name}
                                div#title Title:
                                    textarea(name="title" for="title" value=question.title class="hidden-title-ta")
                                div#body Question:
                                    textarea(name="body" for="body" value=question.body class='hidden-body-ta')
                                .question-edit-button-box
                                    button(type='submit' class='edit-question-button') Submit Edit
                                    button(type='button' class='cancel-edit-button') Cancel Edit
                .lower-post-nav
                    .lower-post-nav-right
                        if (question.userId === userId)
                            button(class='edit-button'): a(href=`/questions/${question.id}/edit` class='edit-text') Edit
                            button(class='delete-button'): a(href=`/questions/${question.id}/delete` class='edit-text') Delete
        .answer-block

            .submit-answer-block
                if locals.authenticated
                    .answer-form-box
                    form(action=`/questions/${question.id}/answers/new` id='new-answer-form-field' method='post')
                        input(type='hidden' name ='_csrf' value=csrfToken)
                        div#body Answer:
                            textarea(name="body" for="body" value=answers.body placeholder="Answer this question:" class='answer-text-body')
                        .button-block
                            button(type='submit' class="answer-submit-button") Submit


                else
                    h2.please-log-in Please log in to answer this question...

                .answers-title
                    if answers.length
                        h2.answers-text Answers:
                    else
                        h2.answers-text No answers for this question yet, be the first!


            each answer in answers
                    .img-and-name
                        .username-and-img
                            img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class='profile-img-3')
                            a(href=`/users/${answer.User.id}` class='username')= answer.User.username
                        .date-block
                            p(class='date')= questionDate(answer.createdAt)
                        .answer-contents
                            p.answer-body= answer.body
                            .edit-delete-votes-block
                                .votes-block
                                    p.votes-counter votes: #{answer.votes}
                                .edit-delete-block
                                    if (answer.userId === userId)
                                        button(type='button' class='edit-answer-button' value=answer.id): a(href=`/questions/answers/${answer.id}/edit` class='edit-answer-text') Edit
                                        button(type='button' class='delete-answer-button' value=answer.id) Delete

                                    .delete-answers-form
                                        .form-box
                                            p.question Delete this answer?
                                            form(action=`/questions/answers/delete/${answer.id}` method='post' class='hidden-answer-form')
                                                input(type='hidden' name='_csrf' value=csrfToken)
                                                .buttons-section
                                                    button(type='button' class='cancel-button-2' value=answer.id) Cancel
                                                    button(type='submit' class='delete-button-2' value=answer.id) Delete

        .footer
            .logo-img-lower
                a(href='/'): img(src='https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png' class='dumbbell-img')
                a(href='/' class="fitness-font") Fitness-Overflow
