extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/specific-question.css')
    script(src="/javascripts/specific-question.js" type="module" defer)

block content
    .nav-bar
        div.nav-display-left
            .logo-img
                a(href='/'): img(src='https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png' class='dumbbell-img')
            a(href='/' class="fitness-font") Fitness-Overflow
        div.nav-display-right
            if locals.authenticated
                form(action="/logout" method="post")
                    button(type='submit' class='logout-button') Log-Out
            else
                a(href='/' class='log-in-link'): button(type='button' class='log-in-button') Log-In
            img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class='profile-img')
    .main-body
        .post-block
            .upper-question-block
                .title-img-content
                    .username-and-img
                        img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class='profile-img-2')
                        a(href=`/users/${question.User.id}` class='username')= question.User.username
                    h1= question.title
                    .date-block
                        p(class='date')= questionDate(question.createdAt)
                    .post-contents
                        p.question-body= question.body
                .lower-post-nav
                    .lower-post-nav-left
                    .lower-post-nav-right
                        if (question.userId === userId)
                            button(class='edit-button'): a(href=`/questions/${question.id}/edit` class='edit-text') Edit
                            button(class='delete-button'): a(href=`/question/delete/${question.id}` class='edit-text') Delete
        .answer-block

            .submit-answer-block
                if locals.authenticated
                    .answer-form-box
                        textarea(name="content" id="contents" placeholder="Answer this question:" class="answer-text-area")
                    button(class="answer-submit-button") Submit
                else
                    h2.please-log-in Please log in to answer this question...

            .answers-title
                 h2.answers-text Answers:

            each answer in answers
                    .img-and-name
                        .username-and-img
                            img(src='https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Clipart.png' class='profile-img-3')
                            a(href=`/users/${answer.User.id}` class='username')= answer.User.username
                        .date-block
                            p(class='date')= questionDate(answer.createdAt)
                        .answer-contents
                            p.answer-body= answer.body
                            .votes-block
                                p.votes-counter votes: #{answer.votes}
                                
                            h4.up-button Upvote
                            h4.down-button Downvote
                            
        .footer
            .logo-img-lower
                a(href='/'): img(src='https://www.vectorkhazana.com/assets/images/products/Dumbbell_Svg.png' class='dumbbell-img')
                a(href='/' class="fitness-font") Fitness-Overflow
